@use './variables' as *;

.card {
    img {
        position: relative;
    }
}

.heart,
.heart-red {
    font-size: 30px;
    padding: 0 0.5rem;
    position: absolute;
    top: 10px;
    right: 0;
    color: $dark_color;
    z-index: 1;
}

.heart-red {
    color: rgb(187, 16, 16);
}

.heart:hover,
.red-mark {
    color: rgb(187, 16, 16);
}

.discount {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 0.2rem;
}

.sostenibility {
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 0.2rem;
}

.badges {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 80px;
}

.prices {
    display: flex;
    gap: 0.5rem;
}


.line-throu {
    text-decoration: line-through;
}

.card_top_back_image {
    display: none;
}

.card:hover .card_top_front_image {
    display: none;
}

.card:hover .card_top_back_image {
    display: block;
}